@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {
  --main-orange: #D87D4A;
  --sec-orange: #fbaf85;
  --sec-black: #101010;
  --main-ash: #f1f1f1;
  --sec-ash: #fafafa;
  --background: #ffffff;
  --foreground: #000000;
  --another-ash: #f2f2f2;
  --manrope: 'Manrope';
}

*, body{
  font-family: var(--manrope), sans-serif;
}
nav{
  border-left: 0;
  border-top: 0;
  border-right: 0;
}

.nav-links li{
  text-transform: uppercase;
  font-size: 13px ;
  font-weight: bold;
}

.nav-links li:hover{
  color: var(--main-orange);
}

.whole{
  background: url('https://res.cloudinary.com/dvjx9x8l9/image/upload/v1762206175/HNG/Bitmap_kgbjfr.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #121212;
  background-size: 44.3rem;
    
}

.display{
  font-family: 'Manrope', sans-serif;
}
.third{
  background: url('https://res.cloudinary.com/dvjx9x8l9/image/upload/v1761990031/HNG/ovals.png');
  background-color: var(--main-orange);
  background-repeat: no-repeat;
  border-radius: 8px;
  height: 35rem;
}

.sect4{
  height: 20rem;
  background: url('https://res.cloudinary.com/dvjx9x8l9/image/upload/v1761910243/HNG/Bitmap_bxm0ec.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Manrope' sans-serif;
}

.sect5-img{
  background: url('https://res.cloudinary.com/dvjx9x8l9/image/upload/v1761910243/HNG/Bitmap_1_bep8qv.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.link{
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 25px;
  font-family: 'Manrope' sans-serif;
  
}

 .link:hover{
  color: #D87D4A;
  text-decoration: none;
}

.hamburger{
  display: none;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
  grid-template-areas: 
  "img1 img3"
  "img2 img3"
  ;
  height: auto;
  padding: 30px 0;
}

.img1{
  grid-area: img1;
  height: 100%;
  width: 100%;
  object-fit: contain;
  
}
.img2{
  grid-area: img2;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.img3{
  grid-area: img3;
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 8px;
}

.input-checkout:focus{
  border: 1px solid var(--main-orange);
  outline: none;
}



@media screen and (width <= 768px){
  .nav-links{
    display: none;
  }

  .hamburger{
    display: block;
  }
  .bring{
    
    text-align: center;
    padding-top: 1rem;
  }
  .whole{
    background-position: center;
    background-size: 30rem;
  }


}

@media screen and (width <= 640px){
  .foot-links{
    flex-direction: column;
  }
}


